/* Configurações gerais */
body, main {
  margin: auto;
  font-family: 'Roboto', 'Helvetica', Arial, sans-serif;
  background-color: #fff;
  color: #1D1D1F;
  
}


/* Estilos para o header */
.header {
  background-color: #ffffff00; /* Cor de fundo */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 25px 0;
  margin-bottom: 20px;
}

/* Estilos para o logotipo */
.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #ffffff; /* Cor do texto */
  width: 9%
 
 
}

/* Estilos para a lista de navegação */
.nav ul {
  list-style: none;
  padding: 0;
  margin: auto;
  display: flex;
}

.nav li {
  margin-right: -110px; /* Espaçamento entre os itens da lista */
  font-size: 30px;
  font-weight:400 ;  
}

/* Estilos para os links de navegação */
.nav-link {
  text-decoration: none; /* Remove a linha sob os links */
  color: #000000; /* Cor do texto dos links */


}

/* Estilos para os botões de login e inscrição */
.button-container {
  text-align: right;

}

.btn {
  margin-left: 20px; /* Espaçamento entre os botões */
}


/* Estilos do cabeçalho */
header {
  position: relative;
  height: 100px;
  width: 100%;
  color: rgba(0, 0, 0, 0.87);
  background-color: rgba(0, 0, 0, 0.92);
  z-index: 10;
}

.header-wrapper {
  text-align: center;
  line-height: 50px;
  font-size: 30px;
}

.header-list {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
}

.header-list li {
  margin: 0;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
}

.header-list li a {
  text-decoration: none;
  color: #000000;
}

.header-list a {
  margin-left: 50px;
  font-size: 20px;
  margin-bottom: 10px;
  line-height: 25px;
  padding: 0 15px;
  color: rgb(0, 0, 0);
  display: block;
  float: left;
  transition: all 0.5s;
}

.Logo {
width: 100px;
margin-bottom: 10px;
float: left;
margin-left: 20px; /* Corrected the property */
margin-top: 8%;
margin-left: 30%; /* Corrected the property */
}

span {
  margin-left: 20px;
  float: left;
}

/* Estilos da seção de imagem*/
.image-container {
  cursor: pointer;
  margin-top: -19px;
}

.iphone-12-pro {
  height: 640px;
  width: 100%;
  padding-top: 20px;
  background-image: url(IMG/autie.mp4);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.iphone-12-pro .title {
  text-align: center;
}

.iphone-12-pro .title h1 {
  font-size: 60px;
  color: rgba(0, 0, 0, 0.897);
  font-weight: 700;
  margin-top: 20%;
}

.iphone-12-pro .title p {
  font-size: 30px;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.87);
}

/* Estilos da seção "Por dentro de tudo+" */
.title .hello {
  text-align: center;
  margin-top:-500px;
  font-size: 80px;
  color: rgba(0, 0, 0, 0.897);
  font-weight: 700;
}

.title .A {
  text-align: center;
  font-size: 30px;
  font-weight: normal;
  margin-top: 20px;
  color: rgba(0, 0, 0, 0.87);
}

/* Estilos do carrossel */
.title {
  text-align: center;
}

.carousel-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  position: relative;
}

.carousel {
  display: flex;
  align-items: center;
  overflow: hidden;
  gap: 20px;
  width: auto;
}

.carousel-item {
  flex: 0 0 auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  width: 250px;
  text-align: center;
  height: 300px;
  margin-right: 55px;
  padding: 35px;
}

.carousel-item img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Estilos dos cards */
.cards {
background-color: #f3f3f3;
padding: 50px 0;
}

.container {
max-width: 1100px;
margin: 0 auto;
display: flex;
flex-wrap: wrap; /* Permite que os cards vão para a próxima linha se não houver espaço suficiente */
justify-content: space-between;
gap: 10px;
}

.card {
background-color: #fff;
border-radius: 10px;
box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
width: calc(33.33% - 20px); /* Defina uma largura fixa para os cards */
text-align: center;
margin-bottom: 30px;
padding: 30px;
transition: transform 0.3s ease;
box-sizing: border-box;
}

.card:hover {
transform: scale(1.05);
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card img {
max-width: 100%;
height: auto;
margin-bottom: 20px;
}

.card h3 {
font-size: 24px;
margin-bottom: 10px;
font-family: Arial, sans-serif;
}

.card p {
font-size: 18px;
margin-bottom: 20px;
}

.card button {
margin-top: 10px;
height: auto;
}

button {
background-color: #f3f3f3;
color: #000;
border: 2px solid #000;
border-radius: 5px;
font-size: 18px;
padding: 10px 40px;
cursor: pointer;
transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

button:hover {
background-color: #000;
color: #fff;
transform: scale(1.05);
}

.link-mais {
text-align: center;
}



/* FOOTER */
.main-footer {
background: #000;
color: #fff;
}

.main-footer__upper {
display: flex;
justify-content: space-between;
padding: 1rem 0;
}

@media only screen and (max-width: 56.25em) {
.main-footer__upper {
    padding: 6rem 0;
}
}

@media only screen and (max-width: 37.5em) {
.main-footer__upper {
    display: flex;
}
}

.main-footer__row-1 {
order: 2;
}

@media only screen and (max-width: 56.25em) {
.main-footer__row-1 {
    margin-bottom: 5rem;
}
}

.main-footer__row-2 {
width: 40%;
order: 1;
max-width: 50rem;
}

@media only screen and (max-width: 56.25em) {
.main-footer__row-2 {
    width: 100%;
}
}

.main-footer__short-desc {
margin-top: 2rem;
color: #eee;
font-size: 1.5rem;
line-height: 1.7;
}

.main-footer__social-cont {
margin-top: 2rem;
}

.main-footer__icon {
margin-right: 1rem;
width: 2.5rem;
}

.main-footer__icon--mr-none {
margin-right: 0;
}

.main-footer__lower {
padding: 4rem 0;
border-top: 1px solid #444;
color: #ffffff;
font-size: 1.2rem;
text-align: center;
}

@media only screen and (max-width: 56.25em) {
.main-footer__lower {
    padding: 3.5rem 0;
}
}

.main-footer__lower a {
text-decoration: underline;
font-weight: bold;
margin-left: 2px;
}
.h4{
  margin-left: 123%;
}


/*TABELA*/


table {
 display: inline-table;
 width: 90%;
  border-collapse: collapse;
  position: relative;
  text-align: center;
 table-layout: auto;
 margin-left: 5%;
 

  
}
th, td {
  border: 1px solid black;
  padding: 0.5rem;
}  
h2{
  
  text-align: center;
}


/*video*/
div#interface{
  width: 100%;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  margin-left: auto;
  
}

div#interface2{
  width: 100%;
  margin: auto;
  background-color: rgb(255, 255, 255);
  text-align: center;
  color: #FFF;
 margin-top: 0;
}
.banner{
  height: 30%;
  width: 100%;
  overflow: hidden;
  display: flex;
  margin-top: -10%;
  margin-right: -1000px;

 }
 #bg-video {
  position: absolute;
  right: 10px;
  bottom: 10px;
  min-width: 100%;
  min-height: 60%;
  z-index: -1;
}

#image {
position: absolute;
justify-items: center;
}

#texto {
position:absolute;
font-size: 20px;
left: 5px;
top: 200px;
}


/* Estilo para a div externa */
.ul2 {
  font-family: Arial, sans-serif;
}

/* Estilo para a div interna */
.li2 {
  border: 1px solid #ddd;
  padding: 10px;
  background-color: #f9f9f9;
}

/* Estilo para a lista dentro da div interna */
.ul2 ul {
  list-style-type: none;
  padding: 0;
}

/* Estilo para cada item da lista dentro da div interna */
.ul2 li {
  font-size: 16px;
  margin-bottom: 10px;
}

/* Estilo para o primeiro item da lista dentro da div interna */
.ul2 li:first-child {
  font-weight: bold;
  color: #333;
}

/* Estilo para alternar as cores de fundo da lista dentro da div interna */
.ul2 li:nth-child(even) {
  background-color: #f2f2f2;
}
